<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <nav  id="adminNavBar">
  <a>MedStore</a>
  <a id="adminProductButton"><em id="icon" class="fa fa-shopping-cart"></em>Products</a>
  <a id="adminOrderButton " href="/orderlist"><em id="icon" class="fa fa-truck"></em>Orders</a>
  <a id="logoutButton" href="/login"><em id="icon" class="fa fa-sign-out" ></em>
    Logout</a>
 </nav><br>
 <br>
 <table id="adminDashboard">
    <tr>
      <th>Image </th>
      <th>Medicine Name </th>
      <th>Price   </th>
      <th>Quantity</th>
    </tr>
    <tr>
        <td><img src="../../assets/med.jpg"  width="50" height="50" /></td>
        <td>Product Name</td>
        <td>599</td>
        <td>1</td>
        <td><a href="/productedit"> <i class='fa fa-pencil-square'style="font-size:35px;color:yellow;" ></i><i class="fa fa-trash-o" style="font-size:35px;color:rgb(255,0,98);"></i></a>
        </td>
    </tr>
    <tr>
        <td><img src="../../assets/med.jpg"  width="50" height="50" /></td>
        <td>Product Name</td>
        <td>599</td>
        <td>1</td>
        <td><a href="/productedit"> <i class='fa fa-pencil-square'style="font-size:35px;color:yellow;" ></i><i class="fa fa-trash-o" style="font-size:35px;color:rgb(255,0,98);"></i></a>
        </td>
    </tr>
    <tr>
        <td><img src="../../assets/med.jpg"  width="50px" height="50px" /></td>
        <td>Product Name</td>
        <td>599</td>
        <td>1</td>
        <td><a href="/productedit"> <i class='fa fa-pencil-square'style="font-size:35px;color:yellow;" ></i><i class="fa fa-trash-o" style="font-size:35px;color:rgb(255,0,98);"></i></a>
        </td>
    </tr>
    <tr>
        <td><img src="../../assets/med.jpg" width="50" height="50" /></td>
        <td>Product Name</td>
        <td>599</td>
        <td>1</td>
        <td><a href="/productedit"> <i class='fa fa-pencil-square'style="font-size:35px;color:yellow;" ></i><i class="fa fa-trash-o" style="font-size:35px;color:rgb(255,0,98);"></i></a>
        </td>
    </tr>
 </table>
 <div class="container2">
    <img class="img2" src="../../assets/man.png"/>
    <div id="addMedButton" ><a href="/addproduct">ADD</a></div>
 </div>

