<div class="container">
    <div class="title">SIGN UP</div>


<form>
    <div class="mb-3">
      <input type="email" class="form-control1" id="email" placeholder="   Enter Email">
    </div>
  <div class="mb-3">
      <input type="email" class="form-control1" id="user" placeholder="   Username">
    </div>
    
    <div class="mb-3">
        <input type="password" class="form-control3" id="mobilenumber" placeholder="   Enter Mobile Number">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control4" id="password" placeholder="  Enter Password">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control5" id="confirmpassword" placeholder="   Confirm Password">
      </div>
    <button type="login" class="btn btn-primary" id="submitButton" routerLink="/admin">LOGIN</button>
    <button type="login" class="btn btn-primary">LOGIN</button>
    <div class="new">
        Already a member? <a class="link2" routerLink="/login" id="signinLink"><span>Click here</span></a>
    </div>
  </form>
</div>
  <div class="container2">
    <img class="img2" src="../../assets/sign.png " >
  </div>
