<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
 <nav  id="adminNavBar">
  <a>MedStore</a>
  <a id="adminProductButton" href="/admin"><em class="fa fa-shopping-cart"></em>Products</a>
  <a id="adminOrderButton"><em class="fa fa-truck"></em>Orders</a>
  <a id="logoutButton" href="/login"><em class="fa fa-sign-out" ></em>
    Logout</a>
 </nav>
</header><br>
<br>
<table id="adminOrderBody">
  <tr>
    <th>Order ID</th>
    <th>User ID</th>
    <th>Medicine Name</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  <tr>
    <td>4fsdfsj-sdvjsfv-454ufbf-sdvsfv</td>
    <td>User</td>
    <td>Product Name</td>
    <td>Product Price</td>
    <td>1</td>
  </tr>
  <tr>
    <td>4fsdfsj-sdvjsfv-454ufbf-sdvsfv</td>
    <td>User</td>
    <td>Product Name</td>
    <td>Product Price</td>
    <td>1</td>
  </tr>
  <tr>
    <td>4fsdfsj-sdvjsfv-454ufbf-sdvsfv</td>
    <td>User</td>
    <td>Product Name</td>
    <td>Product Price</td>
    <td>1</td>
  </tr>
  <tr>
      <td>4fsdfsj-sdvjsfv-454ufbf-sdvsfv</td>
      <td>User</td>
      <td>Product Name</td>
      <td>Product Price</td>
      <td>1</td>
  </tr>
  <tr>
        <td>4fsdfsj-sdvjsfv-454ufbf-sdvsfv</td>
        <td>User</td>
        <td>Product Name</td>
        <td>Product Price</td>
        <td>1</td>
  </tr>
  <tr>
    <td>4fsdfsj-sdvjsfv-454ufbf-sdvsfv</td>
    <td>User</td>
    <td>Product Name</td>
    <td>Product Price</td>
    <td>1</td>
  </tr>
</table>

