<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
 <nav  id="adminNavBar">
  <a>MedStore</a>
  <a id="adminProductButton" href="/admin"><em class="fa fa-shopping-cart"></em>Products</a>
  <a id="adminOrderButton"href="/orderlist"><em class="fa fa-truck"></em>Orders</a>
  <a id="logoutButton" href="/login"><em class="fa fa-sign-out" ></em>
    Logout</a>
 </nav>
 <div id="editMedBody">
    <div class="title" >EDIT PRODUCT</div>
<form>
    <div>
      <input type="text" class="form-control1" id="medNAme"  placeholder="Product Name">
    </div>
    <div>
      <input type="text" class="form-control2" id="medPrice" placeholder="Product price">
    </div>
    <div>
        <input type="text" class="form-control3" id="medDescription" placeholder="Product Description">
      </div>
      <div>
        <input type="text" class="form-control4" id="medImageURL" placeholder="Image URL">
      </div>
      <div>
        <input type="text" class="form-control5" id="medQuantity" placeholder=" Product Quantity">
      </div>
      <div class="add" ><a href="/admin">EDIT</a></div>
  </form>
  </div>
  <div class="container2">
    <img class="img2" src="../../assets/img.jpg"/>
  </div>
