<div class="container">
    <div class="title">LOGIN</div>


<form>
    <div class="mb-3">
      <input type="email" class="form-control1" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="    Email">
    </div>
    <div class="mb-3">
      <input type="password" class="form-control2" id="exampleInputPassword1" placeholder="    Password">
    </div>
    <button type="login" class="btn btn-primary" routerLink="/admin">LOGIN</button>
    <div class="new">
        New to Bookstore? <a class="link1" href="/signup"><span>Click here</span></a>
    <button type="login" class="btn btn-primary" routerLink="/home">LOGIN</button>
    <div class="new">
        New to Bookstore? <a class="link1" routerLink="/signup"><span>Click here</span></a>
    </div>
  </form>

</div>
<div class="container2">
  <img class="img1" src="../../assets/login.jpg " >
</div>